
.nav {
    grid-area: n;
    background-color: #82a5c6;
    padding: 20px;
    box-shadow: 1px 1px 10px #C0C0C0;
}

.item {
    color: black;
    font-weight: bold;

}

.item a {
    text-decoration: none;
    font-family: Calibri;
    color: black;

}

.item a.active {
    color: #ffffff;
}